app-board {
  overflow: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}
app-board app-tile {
  position: fixed;
}
app-board.grid {
  background-image: linear-gradient(to right, #88888822 1px, transparent 1px),
    linear-gradient(to bottom, #88888822 1px, transparent 1px);
}
