app-drawer-options {
  position: fixed;
  bottom: 4rem;
  left: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 4px;
}
app-drawer-options p {
  font-size: 16px;
  font-style: italic;
  margin: 0.5rem;
}

@media (prefers-color-scheme: light) {
  app-drawer-options {
    background-color: #ddd;
  }
}
@media (prefers-color-scheme: dark) {
  app-drawer-options {
    background-color: #222;
  }
}
