body {
  --color-primary: #000;
  --color-border: #000;
  --color-grid: #ddd;
  --color-background: #fff;
  --color-modal-haze: rgba(255, 255, 255, 0.5);
  --color-tile-bg: #fff;
  --color-drawer-bg: #ddd;
  --color-selection-bg: #def;
  --color-selection-fg: #08f;
  --color-link: #03f;
  --color-link-visited: #127;
  --color-snap-rule: #f0f;
}

@media (prefers-color-scheme: dark) {
  body {
    filter: invert(100%);
  }
}

body {
  font-family: sans-serif;
  font-size: 20px;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-background);
  color: var(--color-primary);
}

a {
  color: var(--color-link);
}
a:visited {
  color: var(--color-link-visited);
}

button {
  font-family: sans-serif;
  font-size: 20px;
  border-style: solid;
  border-radius: 4px;
  margin: 0 0 0 0;
  border-width: 1px 4px 4px 1px;
  padding: 0.5rem;
  background-color: var(--color-tile-bg);
  border-color: var(--color-border);
  color: var(--color-primary);
}
button:active {
  margin: 3px 0 0 3px;
  border-width: 1px 1px 1px 1px;
}
